.sidebar-navigation .logo span{
    color: white;
    font-size: xx-large;
    padding: 0px 15px;
    border: 1px solid;
}
.sidebar-navigation .logo h3{
    color: white;
}
.rounded-circle {
    border-radius: 50%!important;
}
.developerImg{
    width: 100%;
}
.imgDivCenter{
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: initial !important;
}
#blog .tabgroup ul li img{
    margin-right: 0px !important;
}
.imgModalProyect{
    width: 100%;
}

.text-content span{
    font-size: 20px !important;
}
.text-content p{
    font-size: 25px !important;
}
.modal-lg{
    width: 90% !important;
}
.modal-footer .close{
    font-size: xx-large;
}
#projects .masonry .item{
    font-size: x-large;
}
.imagenclick{
    cursor: pointer;
}
#first-tab-group .item .text-content .tittles{
    font-weight: 700 !important;
    font-size: 54px;
}
#first-tab-group .item .text-content .tittles span{
    font-weight: 700 !important;
    font-size: 30px !important;
}
#first-tab-group .item .text-content .descriptions{
    font-weight: 600 !important;
    font-size: 30px;
}
.imagenlenguajes img{
    height: 69px;
}